.chartWrapper {
    position: relative;
}

.chartWrapper tspan {
    font-size: 8px !important;
}

.legend {
    position: absolute;
    bottom: 5px;
    z-index: 1000;
    width: calc(100vw - 340px - 80px);
    display: flex;
    justify-content: center;
}

.legendElement {
    margin-right: 15px;
    display: flex;
    height: 32px;
    cursor: pointer;
    line-height: 32px;
    align-items: center;

    border: 1px solid black;
    border-radius: 3px;
    padding: 0 8px;
    background: transparent;
}

.legendElement:hover {
    background: #f1dacb;
}

.legendElement.selected {
    background: black;
    color: #ffedda;
}

.colorBox {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 7px;
}