.chartWrapper {
    position: relative;
}

.chartWrapper tspan {
    font-size: 8px !important;
}

.legend {
    position: absolute;
    top: 5px;
    width: calc(100vw - 340px - 80px);
    display: flex;
    justify-content: center;
}

.legendElement {
    margin-right: 15px;
    display: flex;
    height: 20px;
    align-items: center;
}

.colorBox {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    margin-right: 7px;
}